*{
  margin: 0;
  padding: 0;
  background-color: #2F303A;
  color:#fff;
  /* border: 1px solid red; */
}

.letras{
  color: #fff;
}

.home-container{
  height: 100vh;
}
.uno{
  display: none;
}

.home-title{
display:flex wrap;
align-items: center;

} 

.girl-con{
  display: none;
}

.girl-image{
  display: none;
}



.title{
 
    left: 80%;
    padding-left: 20%;
    padding-top: 33%;
    display: flex table-column;
  
}


h1{
  font-size: 2em;
}

.circle1 {
  position: fixed;
  bottom: -20%;
  left: 80%;
  width: 21rem;
  height: 21rem;
  background-color: #3457b21a;
  border-radius: 50%;
}

.circle2 {
  position: fixed;
  top: 10%;
  left: 33%;
  width: 10rem;
  height: 10rem;
  background-color: #3457b21a;
  border-radius: 50%;
}
 

.circle3 {
  position: fixed;
  bottom: 6%;
  left: 3%;
  width: 10rem;
  height: 10rem;
  background-color: #bc3a801a;
  border-radius: 50%;
}
  


.ms-auto{
  color:white;
}

.discover-cont{
  padding-top: 8%;
}

.covers{
  width: 70%;
}

@media (min-width: 768px) {
  .uno{
    display: flex;
  }
  
  .home-container{
    display:flex wrap;
    flex-direction: row;
    gap: 1.25rem;
  }
  
  .girl-image{
   
    display: flex;

    bottom: 6%;
    left: 3%;
    
  }

  .title{
    left: 80%;
    padding-left: 20%;
    padding-top: 33%;
    display: flex table-column;
  }

  .girl-con{
    display: flex;
    position: relative;
    padding-left: 10%;
    
  }



  h1{
    font-size: 3em;
  }

  .circle1 {
    position: fixed;
    bottom: -20%;
    left: 80%;
    width: 28rem;
    height: 28rem;
    background-color: #3457b21a;
    border-radius: 50%;
  }
  
  .circle2 {
    position: fixed;
    top: 10%;
    left: 33%;
    width: 21rem;
    height: 21rem;
    background-color: #3457b21a;
    border-radius: 50%;
  }
   
  }
  .circle3 {
    position: fixed;
    bottom: 6%;
    left: 5%;
    width: 20rem;
    height: 20rem;
    background-color: #bc3a801a;
    border-radius: 50%;
    
}

.discovertitle{
  padding-top: 20%;
}

.covers{
  padding-top: 33%;
}

.join, .join1{
  font-weight: bold;
  font-size: 3em;
}

.join1{
  color:hsla(328, 100%, 50%, 0.953);
}

.jointitle{
  padding-top: 15%;
}
